.container1 {body{
  background:#311b92;
  position:relative;
}
  min-height: 50vh;
  right: 300px;
  display: flex;
  background-color: black;
  align-items: top;
  justify-content: center;
  text-align: center;
  padding: 1;
  z-index: -1;
  opacity: 0.85;
  height: 50%;
  width: 100%;
  justify-content: center;
  text-align: left;
}

h1 {
  /* TEXT FOR Collapsed Headers */
  font-family: "Nothing You Could Do", cursive;
  color: #000000;
  font-size: 5em;
  margin: 0;
  font-weight:bolder;
  text-align: left;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 1em black;}

h2 {
    /* TEXT FOR collapsible text */
    font-family: "Baloo Thambi 2", cursive;
    color: #000000;
    font-size: 3em;
    margin: 0;
    padding-left: 1em;
    text-align: left;
    font-weight: 1;
    opacity: 0.999;
}

h3 {
    /* TEXT FOR collapsible LINK */
    font-family: "Baloo Thambi 2", cursive;
    color: #000000;
    font-size: 2.5em;
    margin: 0;
    padding-left: 1em;
    text-align: center;
    font-weight: 1;
    font-style: italic;
    opacity: 0.999;
}

h4 {
    /* TEXT FOR collapsible 'technologies' */
    font-family: "Baloo Thambi 2", cursive;
    color: #FFFFFF;
    font-size: 3.2em;
    margin: 0;
    padding-left: 1em;
    font-weight: 1;
    opacity: 0.999;
}


@-webkit-keyframes up-in {
  from {
    opacity: 0;
    bottom: 0%;
  }
  to {
    opacity: 1;
    bottom: 50%;
  }
}
@keyframes up-in {
  from {
    opacity: 0;
    bottom: 0%;
  }
  to {
    opacity: 1;
    bottom: 50%;
  }
}

.fill {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
body,
html {
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  background:#black;
}

.flex-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  position: relative;
}
.container.no-scroll {
  overflow: hidden;
}
/* I MODIFIED THIS FROM 80%, 10PX, black IT CONTROL THE STUFF OUTSIDE CONTAINER*/
.page {
  width: 100%;
  padding: 100px;
  background-color: black;
}
@media (max-width: 600px) {
  .page {
    width: 90%;
  }
}
.grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* number of images per line is controlled by width */
.grid .grid-item {
  width: 50%;
  position: relative;
}
/* Size of mini images*/
.grid .grid-item:after {
  content: '';
  display: block;
  margin-top: 100%;
}
@media (max-width: 600px) {
  .grid .grid-item {
    width: 50%;
  }
}
/* changes overflow from hidden to allow for scroll */
.box {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  overflow: auto;
  cursor: pointer;

}
.box img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}
.box.selected {
  opacity: 0;
}
.box.on-top {
  cursor: default;
   -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 2px 2px 19px -2px rgba(0, 0, 0, 0.44);
}
.box.image-out img {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
/*ACTUAL CONTAINER FOR TEXT*/
.content {
  position: absolute;
  padding: 20px 40px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.show .content {
  opacity: 1;
  height: 100%;

}
@media (max-width: 600px) {
  .content {
    padding: 10px 20px;
  }
}
.scroller {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
.scroller h1 {
  color: white;
  width: 100%;
  margin-bottom: 100px;
  position: absolute;
  bottom: 50%;
  text-align: center;
  -webkit-animation: up-in 1s ease;
          animation: up-in 1s ease;
}
.top-up.ng-hide-add,
.top-up.ng-hide-remove {
  -webkit-transition: 0s ease top;
  transition: 0s ease top;
}
.top-up.ng-hide-add-active,
.top-up.ng-hide-remove-active {
  -webkit-transition: 0.6s ease top;
  transition: 0.6s ease top;
}
.top-up.ng-hide-add {
  top: 0;
}
.top-up.ng-hide-add.ng-hide-add-active {
  top: 100%;
}
.top-up.ng-hide-remove {
  top: 100%;
}
.top-up.ng-hide-remove.ng-hide-remove-active {
  top: 0;
}
.fullscreen-background {
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333;
  -webkit-transition: top 0.5s ease;
  transition: top 0.5s ease;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.fullscreen-background.show {
  top: 0;
}
.close-button {
  position: fixed;
  top: 20px;
  right: 20px;
  color: grey;
  cursor: pointer;
}
.close-button i {
  font-size: 60px;
}
.close-button:hover {
  color: white;
}

/*Button EXIT*/

.draw-border {
	 box-shadow: inset 0 0 0 4px black;
	 color: black;
	 transition: color 0.25s 0.0833333333s;
	 position:relative;
}
 .draw-border::before, .draw-border::after {
	 border: 0 solid transparent;
	 box-sizing: border-box;
	 content: '';
	 pointer-events: none;
	 position: absolute;
	 width: 0;
	 height: 0;
	 bottom: 0;
	 right: 0;
}
 .draw-border::before {
	 border-bottom-width: 4px;
	 border-left-width: 4px;
}
 .draw-border::after {
	 border-top-width: 4px;
	 border-right-width: 4px;
}
 .draw-border:hover {
	 color: grey;
}
 .draw-border:hover::before, .draw-border:hover::after {
	 border-color: grey;
	 transition: border-color 0s, width 0.25s, height 0.25s;
	 width: 100%;
	 height: 100%;
}
 .draw-border:hover::before {
	 transition-delay: 0s, 0s, 0.25s;
}
 .draw-border:hover::after {
	 transition-delay: 0s, 0.25s, 0s;
}
 .btn {
	 background: none;
	 border: none;
	 cursor: pointer;
   height: auto;
   width: auto;
   text-align: center;
	 line-height: 1.0;
   left: 45%;
	 font: 700 1.2rem 'Roboto Slab', sans-serif;
	 padding: 1em 2em;
	 letter-spacing: 0.05rem;
}
 .btn:focus {
	 outline: 2px dotted #white;
}
