<!DOCTYPE HTML>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<html>
	<!--Google Fonts -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">

	<div id="wrapper">
		<div id="info">
			<div id="info-content">
				<h1><strong>Sanjay Srikumar</strong>
					Computer Science</h1>
			</div>
		</div>

		<input type="checkbox" id="menu" name="menu" class="menu-checkbox">
		<div class="menu">
			<label class="menu-toggle" for="menu"><span>Toggle</span></label>
			<ul>
				<li>
					<a href="about">About</a>
				</li>
				<li>
					<a href="Projects">Projects</a>
				</li>
				<li>
					<a href="Contact">Contact Me</a>
				</li>
				<li>
					<a href="https://www.terpconnect.umd.edu/~sanjays/Personal-Website%20Externals/Sanjay_Srikumar_Resume.pdf">My Resume</a>
				</li>
				<li>
					<a href="https://www.terpconnect.umd.edu/~sanjays/Personal-Website/sanjay.html">My Old Website</a>
				</li>
		</div>

</html>
